body {
  text-align: center;
}

.main img {
  width: 50%;
}

.nav a {
  font-size: 25px;
  text-decoration: none;
}

.nav a:first-child {
  color: orange;
}

.nav a:nth-child(3) {
  color: green;
}

.nav a:nth-child(4) {
  color: red;
}